body{
    max-width: 1200px;
}
h1 {
    color: #b92929;
    text-align: center;
    text-transform: uppercase;
}
a{
    text-decoration: none;
}
.parrafo1{
    color: #4453d6;
    font-size: 14px;
}
.parrafo2{
    color: #4c913b;
    font-weight: bold;

}
.parrafo3{
    color: #2f0863;
}
iframe, video{
    height: 500px;
    width: 700px;
}